body {
   
    background-image: url(../Reidbet/img/images.jpg);
    background-repeat: no-repeat;
    background-color: #3e606f;
    background-size: cover;
}
header {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
#izquierdaH img, h1 {
    display: inline-block;
}
#derechaH{
    margin-right: 5%;
    margin-top: 0.7%;
}
#derechaH img, p {
    display: inline-block;
    
    
}
#derechaH button {
    margin: auto;
    background-color: transparent;
}
#logo{
    height: 60px;
}
#idioma{
    height: 20px;
    width: 25px;
    
}
#flecha{
    height: 8px;
    
}
section  {
    display: flex;
    justify-content: space-around;
}
article h1{
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        width: 65%;
        color: #fafffe;
        font-size: 90px;
        margin-left: 10%;
        
    
}
article p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    width: 65%;
    color: #fafffe;
    font-size: 18px;
    margin-left: 10%;
    
}
aside {
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
    margin:10% 10% 0% 0%;
    background-color: #fefeff;
    
    
}
#registrarse {
    display: none;
}
.inicioRedes, #inicioSubmit {
    display: block;
    margin: 10px auto 10px auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-bottom: 0px;
    padding: 5px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
}
#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 200px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 15%;
}
#Inicio{
    margin-top: 15%;
    color: #0099CC;
}
.opciones{

    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    transition: background-color .5s;
    
}
.opciones:hover{
    
    color: white;
    background-color: #008CBA;
}
::placeholder {
    color: white;
  }
.usuario{
    color:white;
    background: #0099CC;
    border: 2px solid #0099CC;
    border-radius: 6px;
    transition: background-color .5s;
}
#Inicio img{
    height: 20px;

}

